body{
    background-color: #ddedff;
}

#logo{
    width: 150px;
}

#menu{
    display: flex;              /* Transformation en flexbox */
    padding:0;                  /* Suppression des marges internes */
    background-color: #cccccc;     /* Ajout de la couleur d'arrière-plan */
    list-style-type: none ;       /* Suppression des puces */
    justify-content: space-around     /* Alignements des liens dans le menu */
}

#menu li{
    list-style-type: none ;       /* Suppression des puces */
}

#menu a{
    display:block;                /* Transformation en block */
    min-width: 200px;             /* Largeur minimale des liens */

    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */
    background-color: #2870ff;    /* Couleur d'arrière-plan */
    color: #ffffff;               /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 5px;           /* Arrondis des bordures */
    transition: all 0.4s ;          /* Ajout des effets de transition */
}

#menu a:hover {
  background-color: #ffffff;
  color: #2870ff;
  border-color: #2870ff;
}

p{
    font-family: "Arial";
    font-size: 25px;
}

h1{
    font-family: 'Arial Black';
    font-size: 70px;
}